.container-page404 {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__img {
        width: 250px;
        margin: 0 auto;
    }
}
