.container-notes {
    display: grid;
    grid-template-columns: 75px 1fr 3fr;
    height: 100vh;
}

.notes {
    &__menu {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        &-img {
            width: 40px;
            cursor: pointer;
        }
    }

    &__list {
        width: 100%;
        overflow: hidden;
    }
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
