.container-notes {
    display: grid;
    grid-template-columns: 75px 1fr 3fr;
    height: 100vh;
}

.notes {
    &__btn {
        cursor: pointer;
        font-family: 'Amatic SC', cursive;
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        font-size: 30px;
        border: none;
        display: none;
        &:hover {
            transition: linear 0.2s;
            background-color: rgb(36, 36, 36);
        }
    }
    &__menu {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        &--dark {
            background-color: white;
        }
    }
    &__img {
        cursor: pointer;
    }
    &__list {
        width: 100%;
        overflow: scroll;
        &--dark {
            background-color: black;
        }
        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
    }
    &__editor--dark {
        background-color: black;
    }
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.loader-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
    .container-notes {
        display: unset;
    }

    .notes__menu {
        flex-direction: row;
        padding: 20px;
    }

    .notes__btn {
        display: block;
        &--dark {
            background-color: white;
            color: black;
        }
    }

    .notes__list {
        transition: linear 0.2s;
        height: 400px;
    }

    .notes__list--hide {
        height: 0px;
    }
}
