.container-search {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        margin-right: 10px;
    }
    &__input {
        height: 40px;
        border: none;
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        &:focus {
            outline: none;
        }
        &--dark {
            background-color: black;
            color: white;
        }
        &::-webkit-search-cancel-button {
            cursor: pointer;
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            background-color: black;
        }
    }
}
