.container-search {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    &--dark {
        background-color: black;
        border-bottom: 2px solid white;
    }
    &__img {
        width: 40px;
        margin-right: 10px;
        padding: 5px;
        border-radius: 10px;
        &--dark {
            background-color: white;
        }
    }
    &__input {
        height: 40px;
        border: none;
        border-radius: 10px;
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        &:focus {
            outline: none;
        }
        &--dark {
            background-color: black;
            color: white;
        }
    }
}
