.container-search {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &__img {
        margin-right: 10px;
    }
    &__input {
        width: 100%;
        border: none;
        font-family: 'Amatic SC', cursive;
        font-size: 20px;
        text-align: start;
        &:focus {
            outline: none;
        }
        &--dark {
            background-color: black;
            color: white;
        }
        &::-webkit-search-cancel-button {
            cursor: pointer;
        }
    }
}
