.container-note {
    padding: 15px;
    background-color: white;
    color: black;
    cursor: pointer;
    &--dark {
        background-color: black;
        color: white;
        &:hover {
            @extend .container-note--dark--active;
            .container-note__header_img {
                opacity: 1;
            }
        }
        &--active {
            background-color: white !important;
            color: black !important;
        }
    }
    &--active {
        background-color: black;
        color: white;
    }
    &:hover {
        @extend .container-note--active;
        .container-note__header_img {
            opacity: 1;
            &--hide {
                display: none !important;
            }
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        &_date {
            font-size: 10px;
            letter-spacing: 3px;
        }
        &_img {
            width: 25px;
            opacity: 0;
        }
    }
    &__bottom {
        &_title {
            font-size: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &_description {
            @extend .container-note__bottom_title;
            font-size: 15px;
        }
    }
    &__block {
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .container-note {
        &__header_img {
            opacity: 1;
        }
    }
}
