.container-note {
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_date {
            font-size: 10px;
            letter-spacing: 3px;
        }
        &_img {
            width: 25px;
            cursor: pointer;
        }
    }
    &__bottom {
        &_title {
            font-size: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &_description {
            @extend .container-note__bottom_title;
            font-size: 15px;
        }
    }
    &__block {
        padding: 10px;
    }
}
