.container {
    padding: 15px;
}

.header {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
}

.select-option {
    font-family: 'Amatic SC', cursive;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.icon {
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.icons-block {
    display: flex;
}

.notes-info {
    @extend .icons-block;
    margin-top: 15px;
    flex-direction: column;
}

.title {
    font-family: 'Amatic SC', cursive;
    max-width: 400px;
    border: none;
    resize: none;
    font-size: 30px;
    font-weight: 700;
    &:focus {
        outline: none;
    }
}

.description {
    @extend .title;
    font-size: 20px;
    font-weight: normal;
    height: 150px;
}

.uploaded-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
